<div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4">
		<h4>About Us</h4>
		<div class="row">
			<h5 style="margin-left: 15px; margin-top: 0px; margin-bottom: 7px"><a href="/Wami/company.html">Company</a></h5>
		</div>
		<div class="row">
			<h5 style="margin-left: 15px; margin-top: 0px; margin-bottom: 0px"><a href="/Wami/team.html">Team</a></h5>
		</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4">
		<h4>Support</h4>
		<div class="row">
			<h5 style="margin-left: 15px; margin-top: 0px; margin-bottom: 7px"><a href="/Wami/contact.html">Contact Us</a></h5>
		</div>
		<div class="row">
			<h5 style="margin-left: 15px; margin-top: 0px; margin-bottom: 7px"><a href="/Wami/faq.html">FAQ</a></h5>
		</div>
		<div class="row">
			<h5 style="margin-left: 15px; margin-top: 0px; margin-bottom: 0px"><a href="/Wami/help_center.html">Help Center</a></h5>
		</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4">
		<h4>Connect</h4>
		<div class="row">
			<h5 style="margin-left: 15px; margin-top: -2px; margin-bottom: 3px"><a href="https://www.facebook.com/rob.lanter.9"><img src="assets/facebook.png"></a></h5>
		</div>
		<div class="row">
			<h5 style="margin-left: 15px; margin-top: 0px; margin-bottom: 3px"><a href="#"><img src="assets/twitter.png"></a></h5>
		</div>
		<div class="row">
			<h5 style="margin-left: 15px; margin-top: 0px; margin-bottom: 0px"><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile"><img src="assets/linkedIn.png"></a></h5>
		</div>
	</div>
</div>
<br>
<hr>
<h6 style="margin-left: 4px; color: #808080">WAMI Logos, Site Design, and Content © 2014 WAMI Inc. All rights reserved. Several aspects of the WAMI site are patent pending.</h6>
<p> <a href="#.html"><img src="assets/wami-logo-footer.jpg" class="left" ></a> </p>
