<script type="text/javascript">
	$(document).ready(function(){
		var data = localStorage.getItem("user_info");
		var obj = JSON.parse(data);

		document.getElementById("username").innerHTML = "<b><span style='color: #c9c9c9'>Welcome &nbsp;</span> " +
				"<span style='color: #f87c08'>" + obj.user_info[0].username + "</span></b>"

		var current_page = localStorage.getItem("current_page");
		if (current_page !== "collection") {
			document.getElementById("myWamiNetwork").innerHTML =
				"<li><a href='profile_collection.html'>View My Wami Network</a></li> " +
				"<li class='divider'></li> " +
				"<li class='disabled'><a href='#'>Transmit Wami(s)</a></li> " +
				"<li class='disabled'><a href='#'>Remove Wami(s)</a></li> " +
				"<li class='disabled'><a href='#'>Refresh My Wami List</a></li> ";
		}

		if (current_page !== "mywami") {
			document.getElementById("myWamiProfiles").innerHTML =
				"<li class='disabled'><a onclick='return newProfileDialog()'>Create a New Wami Profile</a></li> " +
				"<li><a href='mywami.html'>View/Manage My Wami Profiles</a></li> ";
		}

		localStorage.setItem("current_page", "");
	});
</script>

<div class="navbar navbar-inverse navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="profile_collection.html"><img src="assets/wami-navbar.jpg" class="center" ></a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="profile_collection.html">Home</a></li>
				<li class="dropdown">
					<a style="background-color: rgba(118, 118, 118, 0)" href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile Collections <b class="caret"></b></a>
					<ul class="dropdown-menu" id="myWamiNetwork">
						<li><a href="profile_collection.html">View My Profile Collections</a></li>
						<li class='divider'></li>
						<li><a onclick="return checkForChosenProfiles('transmit')">Transmit Wami(s)</a></li>
						<li><a onclick="return checkForChosenProfiles('remove')">Remove Wami(s)</a></li>
						<li><a onclick="refreshCollection()">Refresh My Collection List</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a style="background-color: rgba(118, 118, 118, 0)"  href="#" class="dropdown-toggle" data-toggle="dropdown">My Wami Profiles <b class="caret"></b></a>
					<ul class="dropdown-menu" id="myWamiProfiles">
						<li><a onclick="return newProfileDialog()">Create a New Wami Profile</a></li>
						<li><a href="mywami.html">View/Manage My Wami Profiles</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="search_for_profiles.html" style="background-color: rgba(118, 118, 118, 0)">Search For Profiles</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a id="username"> </a></li>
				<li class="dropdown">
					<a style="background-color: rgba(118, 118, 118, 0)" href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="account_profile.html">My Account</a></li>
						<!--<li><a href="#">Message Center</a></li>-->
						<li class="divider"></li>
						<li><a href="index.html">Sign Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>